@{
    ViewBag.Title = "PassUsingViewData - Backend1";
}
<h1>PassUsingViewBag</h1>
<b>Rand Value First:</b> @ViewData["X"]<br/>
<b>Rand Value Second:</b> @ViewData["Y"]<br/>

<b>Add:</b><br/>
@ViewData["Sum"]<br/>

<b>Sub:</b><br/>
@ViewData["Dif"]<br/>

<b>Mult:</b><br/>
@ViewData["Mult"]<br/>

<b>Div:</b><br/>
@ViewData["Div"]<br/>
